{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="card" style="background-color:rgb(250, 250, 250)">
            <ul class="lightrope">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        <div class="profile">
            <div class="profile-image">
                <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
            </div>
            <div class="profile-user-settings">
                <h1 class="profile-user-name">{{ app.user.firstname }} {{ app.user.lastname }}</h1>
            </div>
            <div class="profile-stats">
                <ul>
                    <li><span class="profile-stat-count">164</span> posts</li>
                    <li><span class="profile-stat-count">188</span> followers</li>
                    <li><span class="profile-stat-count">206</span> following</li>
                </ul>
            </div>
            <div class="profile-bio">
                <p><span class="profile-real-name"></span>{{ app.user.description }}</p>
            </div>
        </div>
        </div>
        <!-- End of profile section -->
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active profile-menu" href="{{ path('user_indexuser_account') }}">Mon Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link profile-menu" href="{{ path('user_indexarticle_index') }}">Mes Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link profile-menu" href="{{ path('user_indextuto_index') }}">Mes Tutoriels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link profile-menu" href="{{ path('user_indexworkshop') }}">Mes Ateliers</a>
            </li>
        </ul>
    </div>
    <!-- End of container -->


{% endblock %}
