<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Santa Green{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>


{% block body %}
<canvas id="canvas"></canvas>
    <div class="container-fluid login_bg">
        <div class="login_papa">
            <img src="/images/papa_noel.png" class="img-fluid">
        </div>
        <div class="presentation">
            <h1 class="title_login">Bienvenue sur Santa Green</h1>
            <h2>Insufflez l’esprit de Noël!</h2>
            <p class="p_presentation">
            Santa Green est un réseau social basé sur l'échange, l'entraide et l'esprit de Noël.<br/>
            Vous souhaitez partager du contenu positif et des photos misant sur la bonne humeur et la convivialité,<br/>
            Echangez sur les produits éthiques que vous cuisinez.
            Dévoilez vos idées de décoration pour les tables de fêtes et vos idées cadeaux</p>
        </div>
        <section class="custom">
            <div class="flipper col-sm-3">
                <div class="card">
                    <div class="front">
                        <form method="post" class="form_login">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Identifies toi!</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-lg button" name="login" type="submit">
                                Connexion
                            </button>
                        </form>
                        <a class="btn btn-default bottom register">Inscription</a>
                    </div>
                    <div class="back">
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        <div class="goback">
                            <p>back</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
