{% extends 'base.html.twig' %}

{% block title %}Hello TutoController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Tutos</h1>
        </div>
        <div class="w-25 m-auto">
            {{ form_start(formSearch) }}
            {{ form_row(formSearch.category) }}
            <button type="submit">rechercher</button>
            {{ form_end(formSearch) }}
        </div>
        <div class="container mt-5">
            <div class="card-columns">
                {% for tuto in tutos %}
                <div class="card">
                    <a href="{{ tuto.link }}">
                        <img class="card-img-top" src="{{ tuto.picture }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ tuto.name }}</h3>
                            <h5 class="card-title">{{ tuto.category.name }}</h5>
                            <p class="card-text">
                                {{ tuto.description }}
                            </p>
{#                            <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>#}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
