{% extends 'base.html.twig' %}

{% block body %}


    <div class="backgroundTitle"><h1 class="animated fadeInUp duration-3s  santaTitle">Santa Green</h1>
        <h1 id="counter_christmas">Compte à rebours</h1>
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Jours</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Heures</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Secondes</div>
            </div>
        </div>
    </div>

<div class="container mt-5">
    <h2 class="title_login text-white text-center mb-5 ">Les derniers ajouts </h2>
    <div class="card-columns">

        {% for article in articles %}
            <div class="card">
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    <div id="product-hover">
                        <img class="card-img-top" src="{{ article.picture }}">
                        <a href=""><span><i class="fas fa-heart"></i></span></a>
                    </div>
                    <div id="user-part">
                        <img id="userPost" src="{{ article.picture }}"/>
                        <a href=""><p><strong>{{ article.user.firstname }} {{ article.user.lastname }}</strong></p></a>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ article.name }}</h3>
                        <h5 class="card-title">{{ article.category.name }}</h5>
                        <p class="card-text">
                            {{ article.description }}
                        </p>
                        {#                            <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>#}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
    </section>






{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('counter') }}
{% endblock %}

