{% extends 'base.html.twig' %}

{% block title %}Workshop index{% endblock %}

{% block body %}

    <div class="container">

        <div class="w-25 m-auto">
            {{ form_start(formSearch) }}
            <div class="search-button">
            {{ form_row(formSearch.category) }}
            </div>
            <button type="submit" class="button">rechercher</button>
            {{ form_end(formSearch) }}
        </div>

        <div class="mt-5 container">
            <div class="card-columns">
                {% for workshop in workshops %}
                    <div class="card">
                        <a href="{{ path('workshop_show', {'id': workshop.id}) }}">
                            <div id="product-hover">
                                <img class="card-img-top" src="{{ workshop.picture }}">
                                <a href=""><span><i class="fas fa-heart"></i></span></a>
                            </div>
                            <div id="user-part">
                                <img id="userPost" src="{{ workshop.picture }}"/>
                                <a href=""><p><strong>{{ workshop.user.firstname }} {{ workshop.user.lastname }}</strong></p></a>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ workshop.name }}</h3>
                                <h5 class="card-title">{{ workshop.category.name }}</h5>
                                <p class="card-text">
                                    {{ workshop.description }}
                                </p>
                                {#                            <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>1000<i class="far fa-user"></i>admin<i class="fas fa-calendar-alt"></i>Jan 20, 2018</small></p>#}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
