<nav class="mb-5 navbar navbar-expand-lg navbar-dark bg-white">
    <a class="navbar-brand" href="#">
        <a href="{{ path('home.index') }}">

            {% if  app.request.get('_route')=='user_indexworkshop' or    app.request.get('_route')=='user_indexworkshop_new' %}
                <img class="santa " alt="papanoel" src="../../images/papa_noel.png">
            {% else %}
                <img class="santa " alt="papanoel" src="../images/papa_noel.png">
            {% endif %}

        </a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item  ">
                <a class="nav-link text-white " href="{{ path("article") }}">Objets à recycler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path("workshop_index") }}">Ateliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path("tuto") }}">Tutos</a>
            </li>
        </ul>
    </div>
    <div class="monCompte nav-item">
        <ul class="navbar-nav">
            <li class="nav-item  ">
        <a class="nav-link text-white" href="{{path('app_logout')}}">Déconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('user_indexuser_account') }}">Mon compte</a>
            </li>
        </ul>
    </div>
</nav>
