{% extends 'account/index.html.twig' %}

{% block title %}Tuto{% endblock %}

{% block body %}
    <h1>Tuto</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tuto.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ tuto.name }}</td>
        </tr>
        <tr>
            <th>Lien</th>
            <td>{{ tuto.link }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ tuto.category }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ tuto.picture }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('tuto') }}">Retour</a>

    <a href="{{ path('tuto_edit', {'id': tuto.id}) }}">Modifier</a>

    {{ include('user/_tuto_delete_form.html.twig') }}
{% endblock %}
