{% extends 'account/index.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="tab-content" id="pills-tabContent" >
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" >
                <div class="card" style="background-color:rgb(350, 250, 250, 0.9);">
                    <h4 class="mt-4" style="text-align:center;">Mes informations</h4>

                    <div class="w-75 container mt-5">
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="card mt-5" style="background-color:rgb(350, 250, 250, 0.9);">
                    <div class="w-75 container">
                        <h4 class="mt-4" style="text-align:center;">Enregistrer mon adresse </h4>
                        {{ form_start(formAddress) }}
                        {{ form_end(formAddress) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
