{% extends 'account/index.html.twig' %}

{% block title %}Ateliers{% endblock %}

{% block body %}
    <h1>Ateliers</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ workshop.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ workshop.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ workshop.description }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ workshop.picture }}</td>
        </tr>
        <tr>
            <th>Nb max de participants</th>
            <td>{{ workshop.userMax }}</td>
        </tr>
        <tr>
            <th>Participants enregistrés</th>
            <td>{{ workshop.userRegistered }}</td>
        </tr>
        <tr>
            <th>Date / heure</th>
            <td>{{ workshop.dateTime ? workshop.dateTime|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('workshop_index') }}">Retour</a>

    <a href="{{ path('user_indexworkshop_edit', {'id': workshop.id}) }}">Modifier</a>

    {{ include('user/_workshop_delete_form.html.twig') }}
{% endblock %}
